<h1>Let the battle begin!</h1>
<h2>Enter your names to begin</h2>

<form action="/names" method="post">
<input name="player1_name" type=text placeholder="Player 1 name">
<input name="player2_name" type=text placeholder="Player 2 name">
<button type="submit">Submit</button>
</form>